<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../styles/Condition.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="wrapper">

        <p class="texto-acima">
            texto para áudio
            <button type="button" id="botaoAudio" class="botao-icone-style menos-importante">
                <span class="material-icons" style="vertical-align: middle;">
                    volume_up
                </span>
            </button>
        </p>

        <div class="form-container">
            <h1 id="title-h1">Obrigado!</h1>

            <p id="condition-question">Pode-se disfrutar do produto!</p>
        </div>
    </div>
</body>
</html>